<h2>{{model.author}}'s Question</h2>
<p>
  {{question-detail question=model destroyQuestion="destroyQuestion"}}
  {{update-question question=model editQuestion="editQuestion"}}
</p>

<h2>Answers</h2>
<ul>
  {{#each question.answers as |answer|}}
    {{new-answer answer=answer saveAnswer="saveAnswer"}}
  {{/each}}
</ul>
