<h2>{{model.author}}'s Question</h2>
<p>
  {{question-detail question=model destroyQuestion="destroyQuestion"}}
  {{update-question question=model editQuestion="editQuestion"}}
</p>

{{new-answer saveAnswer="saveAnswer" question=model}}
